  body {
    background-image: url('https://th.bing.com/th/id/R.38eab784494e2f5bec8f1b13dd682039?rik=4iTKOUItqjAGYQ&riu=http%3a%2f%2fwww.wwe.com%2ff%2fstyles%2fog_image%2fpublic%2f2016%2f06%2f20160527_rko_1920x1080--b310ceb3fd2535fc28f260dec912d636.jpg&ehk=BDT7tZgC2CLE1taIkEQJnnN4%2fgTU4bxJU98XkzVDmWA%3d&risl=&pid=ImgRaw&r=0');
       background: rgb(50, 13, 136);
       color: rgb(45, 45, 45);
       padding: 10px;
       font-family: arial;
   }
   #all-contents {
     max-width: 800px;
       margin: auto;
   }

   /* navigation menu */
   nav {
       background: rgb(239, 80, 41);
      margin: 0 auto;
       display: flex;
       padding: 10px;
   }
   h1 {
       display: flex;
       align-items: center;
       color: white;
       flex: 1;
       margin: 0;
   }
   #nav-ul {
       list-style-image: none;
   }
   .nav-li {
       display: inline-block;
       padding: 0 10px;
   }
   a {
       text-decoration: none;
       color: #fff;
   }

   /* main container area beneath menu */
   main {
       background: rgb(228, 39, 6);
       display: flex;
   }
   .sidebar {
       margin-right: 25px;
       padding: 10px;
   }
   .sidebar-img {
       width: 200px;
   }
   .content {
       flex: 1;
       padding: 15px;
   }

   /* portfolio styles */
   #interests {
       border: 4px rgb(185, 19, 19) ridge;
       padding: 8px;
   }
   h2, h3 {
       margin: 0px;
   }
   o li {
    background: #ca2424;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}


#portfolio li:hover {
    background: #240f0f;
}


#portfolio a {
    text-decoration: none;
    color: #e4e6dd;
}
